__pycache__/
*.py[cod]
.venv/
venv/
env/
.env
.idea/
.vscode/
camera_snapshots/
runs/
runs_test/
runs_yolo/
runs_yolo_eval/
dataset_raw/
datasets/pipe_yolo/images/**/*
datasets/pipe_yolo/labels/**/*
!datasets/pipe_yolo/images/**/
!datasets/pipe_yolo/labels/**/
!datasets/pipe_yolo/images/**/.gitkeep
!datasets/pipe_yolo/labels/**/.gitkeep
*.pt
